iframe[name="google_conversion_frame"] {
  display: none;
}


header#header {
  @include legacy_reset();


  a {
    text-transform: uppercase;
  }

  .promotion {
    background: #636267;
    color: #fff;
    text-align: center;
    line-height: 40px;
    padding: 0;
    // margin-bottom: 10px;
    text-transform: none;
    display: block;
    br {
      display: none;
    }
    @media only screen and (max-width: 767px) {
      line-height: 1.2;
      padding: 10px 0 8px;
      br {
        display: inline;
      }
    }
  }

  // Hide/Show Mobile/Desktop
  @media only screen and (max-width: 767px)  {
    > .mobile {
      display: block;
    }
    > .desktop {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    > .mobile {
      display: none;
    }
  }
  //--------------
  // Desktop View
  //--------------
  .desktop {
    .container {
      padding-top: 10px;
    }
    // Newsletter Sideout/Modal
    .newsletter-modal {
      text-align: center;
      background-color: #e9edee;
      // padding-top: 40px;
      position: relative;
      overflow: hidden;

      &:not(.active) {
        display: none;
      }

      *, *:before, *:after {
        -webkit-box-sizing: inherit; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
        -moz-box-sizing:    inherit; /* Firefox 1 - 28 */
        box-sizing:         inherit; /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
      }
      /**
       * Markup:
       * <a class="close-xmodal"><i></i></a>
       */
      a.close {
        position: absolute;
        top: 10px;
        right: 6px;
        display: inline-block;
        width: 20px;
        height: 20px;
      }
      a.close i {
        position: relative;
        display: inline-block;
        font-size: 20px;
        height: 20px;
        width: 20px;

        &:before, &:after {
          border-radius: 1px;
          height: 0.125em;
          width: 1.0em;
          background: #002855;
          position: absolute;
          display: block;
          content: '';
          transition: all 500ms ease-in-out;
          top: 0.5em;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
      h2 {
        font-size: 38px;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        line-height: 1;
        color: #002855;
        font-family: 'Conv_Bryant';
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        padding-top: 40px;
      }
      p {
        font-size: 22px;
        margin-top: 23px;
        margin-bottom: 25px;
        line-height: 1.4;
      }
      @mixin this_text {
        letter-spacing: 1px;
      }
      form {
        ::-webkit-input-placeholder { @include this_text; }
        ::-moz-placeholder          { @include this_text; } /* firefox 19+ */
        :-ms-input-placeholder      { @include this_text; } /* ie */
        input:-moz-placeholder      { @include this_text; } /* Firefox 18- */
        margin: 0 auto;
        padding-bottom: 2rem;
      }
      input[type=email] {
        //width: 240px;
        //text-indent: 11px;
        text-align: center;
      }
      .klaviyo_submit_button {
          // background-color: rgb(0, 0, 120) !important;
          background: #002855 !important;
          font-family: $bryant !important;
          line-height: 17px;
          width: 100%;
      }

    }

    //---------
    // Top Row
    //---------
    .row.top {

      .open-newsletter-modal {
        * {
          color: #002855;
        }
        span {
          display: inline-block;
          margin-left: 10px;
          padding: 0;
        }
      }

      p.prompt {
        font-family: $archer;
        font-size: 12px;
        color: #747576;
        padding-top: 3px;
        margin: 0;
        font-style: italic;
        letter-spacing: 1px;
        text-align: center;
      }
      nav ul {
        margin: 0;
      }
      nav li {
        margin-bottom: 0;
        &:before {
          content: '|';
          display: inline-block;
          margin: 0 13px;
        }
        &:first-child:before {
          content: '';
        }
      }
      nav li a {
        font-size: 12px;
        color: #002855;
        padding-top: 3px;
        letter-spacing: 1px;
      }
    }// .row.top

    //-------------------
    // Middle Row - Logo
    //-------------------
    .row.middle {

      .columns {
        text-align: center;
      }

      a.logo {
        width: 340px;
        display: inline-block;
        max-width: none;
        margin-bottom: 10px;
        margin-top: 14px;
      }
      img {
        width: 100%;
      }
    }// .row.middle


    //-----------------------
    // Bottom Row - Main Nav
    //-----------------------
    .row.bottom nav {
      font-size: 14px;
      margin: 13px 0 23px;

      ul {
        text-align: center;
      }

      li {
        margin-left: 40px;
        &:first-child { margin-left: 0; }
      }

      a {
        color: #002855;
        letter-spacing: 1px;
      }
    }

  }// .desktop


  //-------------
  // Mobile View
  //-------------
  section.mobile {
    margin-bottom: 6px;

    .container {
      width: 98%;
      margin: 0 auto;
    }

    .row.top {
      .columns {
        height: 50px;
      }
      .columns.left, .columns.right {
        width: 15%;
        a {
          color: $darkblue;
          font-size: 20px;
        }
      }
      .columns.left a {
        padding-left: 5px;
      }
      .columns.right a {
        padding-right: 5px;
      }
      .columns.middle {
        width: 70%;

        a.logo {
          margin: 0 auto;
          display: block;
          text-align: center;
        }
        img {
          min-width: 200px;
        }
      }
      a {
        position: relative;
        display: block;
        height: 50px;
      }
      a i, a img {
          /* parent requires `position: relative;` */
          position: relative;
          top: 50%;
          -ms-transform:     translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform:         translateY(-50%);
        }
    }

    .row.bottom {
      p.prompt {
        font-family: $archer;
        font-size: 12px;
        color: #747576;
        padding-top: 3px;
        margin: 0;
        font-style: italic;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }// section.mobile




    i.fa.fa-navicon {
      font-size: 26px;
  }

}// header#header

// icon

.btn-flat {
    border: 0;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

.cart-btn {
    padding-top: 11px;
    background-color: transparent !important;
}



































iframe[name="google_conversion_frame"] {
  display: none;
}


header#header {
  @include legacy_reset();

  @media only screen and (min-width: 768px) {
    // border-bottom: 1px solid #F7F7F7;
  }

  a {
    text-transform: uppercase;
  }

  .promotion {
    background: #636267;
    color: #fff;
    text-align: center;
    line-height: 40px;
    padding: 0;
    // margin-bottom: 10px;
    text-transform: none;
    display: block;
    br {
      display: none;
    }
    @media only screen and (max-width: 767px) {
      line-height: 1.2;
      padding: 10px 0 8px;
      br {
        display: inline;
      }
    }
  }

  // Hide/Show Mobile/Desktop
  @media only screen and (max-width: 767px)  {
    > .mobile {
      display: block;
    }
    > .desktop {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    > .mobile {
      display: none;
    }
  }
  //--------------
  // Desktop View
  //--------------
  .desktop {
    .container {
      padding-top: 10px;
    }
    // Newsletter Sideout/Modal
    .newsletter-modal {
      text-align: center;
      background-color: #e9edee;
      // padding-top: 40px;
      position: relative;
      overflow: hidden;

      &:not(.active) {
        display: none;
      }

      *, *:before, *:after {
        -webkit-box-sizing: inherit; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
        -moz-box-sizing:    inherit; /* Firefox 1 - 28 */
        box-sizing:         inherit; /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
      }
      /**
       * Markup:
       * <a class="close-xmodal"><i></i></a>
       */
      a.close {
        position: absolute;
        top: 10px;
        right: 6px;
        display: inline-block;
        width: 20px;
        height: 20px;
      }
      a.close i {
        position: relative;
        display: inline-block;
        font-size: 20px;
        height: 20px;
        width: 20px;

        &:before, &:after {
          border-radius: 1px;
          height: 0.125em;
          width: 1.0em;
          background: #002855;
          position: absolute;
          display: block;
          content: '';
          transition: all 500ms ease-in-out;
          top: 0.5em;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
      h2 {
        font-size: 38px;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        line-height: 1;
        color: #002855;
        font-family: 'Conv_Bryant';
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        padding-top: 40px;
      }
      p {
        font-size: 22px;
        margin-top: 23px;
        margin-bottom: 25px;
        line-height: 1.4;
      }
      @mixin this_text {
        letter-spacing: 1px;
      }
      form {
        ::-webkit-input-placeholder { @include this_text; }
        ::-moz-placeholder          { @include this_text; } /* firefox 19+ */
        :-ms-input-placeholder      { @include this_text; } /* ie */
        input:-moz-placeholder      { @include this_text; } /* Firefox 18- */
      }
      input[type=email] {
        width: 240px;
        text-indent: 11px;
      }

    }

    //---------
    // Top Row
    //---------
    .row.top {

      .open-newsletter-modal {
        * {
          color: #002855;
        }
        span {
          display: inline-block;
          margin-left: 10px;
          padding: 0;
        }
      }

      p.prompt {
        font-family: $archer;
        font-size: 12px;
        color: #747576;
        padding-top: 3px;
        margin: 0;
        font-style: italic;
        letter-spacing: 1px;
        text-align: center;
      }
      nav ul {
        margin: 0;
      }
      nav li {
        margin-bottom: 0;
        &:before {
          content: '|';
          display: inline-block;
          margin: 0 13px;
        }
        &:first-child:before {
          content: '';
        }
      }
      nav li a {
        font-size: 12px;
        color: #002855;
        padding-top: 3px;
        letter-spacing: 1px;
      }
    }// .row.top

    //-------------------
    // Middle Row - Logo
    //-------------------
    .row.middle {

      .columns {
        text-align: center;
      }

      a.logo {
        width: 340px;
        display: inline-block;
        max-width: none;
        margin-bottom: 10px;
        margin-top: 14px;
      }
      img {
        width: 100%;
      }
    }// .row.middle



    //-----------------------
    // Bottom Row - Main Nav
    //-----------------------
    .lkjsdlkfjslkdjflksjdf {
      display: block;
      display: none;
    }



    .row.bottom nav {
      font-size: 14px;
      margin: 13px 0 0;

      /**
       * Level 1
       */
      > ul {
        text-align: center;

        > li {
          margin-left: 40px;
          padding-bottom: 10px;
          &:first-child { margin-left: 0; }
          position: relative;
          z-index: 100;

          > a {
            color: #002855;
            letter-spacing: 1px;
          }

          /**
           * Level 2
           */


          > ul {
            display: none;
            z-index: 110;
            position: absolute;
            top: 37px;
            left: -13px;
            width: 180px;
            height: auto;
            background: #FFF;
            border: 1px solid #F1F1F1;
            padding-top: 7px;
            padding-bottom: 7px;

            li {
              display: block;
            }
            a {
              display: block;
              color: #002955;
              text-align: left;
              padding: 0 10px 0 15px;
              font-size: 10px;
              font-weight: bold;
              -webkit-transition: color 0.2s ease-in-out 0s;
              -moz-transition:    color 0.2s ease-in-out 0s;
              -o-transition:      color 0.2s ease-in-out 0s;
              transition:         color 0.2s ease-in-out 0s;
              &:hover, &.test {
                color: #A9A9A9;
              }
            }
          }
          &:hover, &.test { > ul {
            display: block;
          } }
        }


      }

    }


  }// .desktop


  //-------------
  // Mobile View
  //-------------
  section.mobile {
    margin-bottom: 6px;

    .container {
      width: 98%;
      margin: 0 auto;
    }

    .row.top {
      .columns {
        height: 50px;
      }
      .columns.left, .columns.right {
        width: 15%;
        a {
          color: $darkblue;
          font-size: 20px;
        }
      }
      .columns.left a {
        padding-left: 5px;
      }
      .columns.right a {
        padding-right: 5px;
      }
      .columns.middle {
        width: 70%;

        a.logo {
          margin: 0 auto;
          display: block;
          text-align: center;
        }
        img {
          min-width: 200px;
        }
      }
      a {
        position: relative;
        display: block;
        height: 50px;
      }
      a i, a img {
          /* parent requires `position: relative;` */
          position: relative;
          top: 50%;
          -ms-transform:     translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform:         translateY(-50%);
        }
    }

    .row.bottom {
      p.prompt {
        font-family: $archer;
        font-size: 12px;
        color: #747576;
        padding-top: 3px;
        margin: 0;
        font-style: italic;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }// section.mobile
  i.fa.fa-navicon {
    font-size: 26px;
  }

}// header#header

// icon

.btn-flat {
    border: 0;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

.cart-btn {
    padding-top: 11px;
    background-color: transparent !important;
}

.main-menu > ul > li > ul > li {
  margin-left: 0 !important;
}
