@width : 420px;

#cart {
  &-sidebar {
    //position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 99;
    background: @bgGray;
    transition: 300ms ease;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    .mainFont();
    //@media @min {
    //  transform: translateX(@width - 100);
    //  width: @width - 100;
    //}
    //@media @mobile {
    //  transform: translateX(@width);  
    //  width: @width;
    //}

    .btn {
      padding-top: 0;
      padding-bottom: 0;
    }

    .cart {
      position: absolute;
      width: 100%;

      &__remove {
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }

    }

    .close-cart, .cart__remove span {
      cursor: pointer;
      &:before {
        margin: 0;
        .font_size(14);
      }
    }

    .wrapper {
      @media @min {
        padding-left: 0;
        padding-right: 0;
      }
      @media @tablet {
        padding: @spaced;
      }
    }
    
    &.fs-swap {
      &-active {
        transform: translateX(0);
      }
    }
    &__gift {

      max-height: 0;
      overflow: hidden;
      transition: 300ms ease;

      &.fs-swap-active {
        max-height: 999px;
      }

      textarea {
        height: 100px;
        background: @white;
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
    &__note {
      display: block;
      margin: @spaced/2 0;
      letter-spacing: 0;
      text-transform: none;
      font-weight: normal;
      line-height: 1;
      font-size: 110%;
      text-align: center;
    }
    &__footer, &__header {
      text-transform: uppercase;
      letter-spacing: 1px;
      .font_size(14);
      font-weight: 500;
      .btn {
        margin-bottom: 0;
        .headerFont();
      }
    }
    &__content {
      position: relative;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
    }
    .fs-row {
      max-width: 100%;
    }
    .wrapper {
      padding: @spaced/1.5;
    }
  }
}

#wrapper {
  transition: transform 300ms ease;
  position: relative;
  &.fs-swap {
    &-active {
      height: 100%;
      overflow: hidden;
      @media @min {
        transform: translateX(-@width - 100);
      }
      @media @mobile {
        transform: translateX(-@width);
      }
      
      position: relative;
      z-index: 100;
    }
  }
}


.cart-item {
  .font_size(15);
  position: relative;
  &__title {
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 1px;
    padding-right: @spaced;
    line-height: 1.2;
    font-weight: 500;
    .font_size(15);
  }
  &__desc {
    //font-style: italic;
  }
  &__image {
    background-color: @white;
    height: 90px;
    img {
      height: 100%;
      width: auto;
      margin: auto;
    }
  }
  &__footer {
    margin-bottom: 5px;
    input {
      max-width: 100%;
      color: @textGray;
      margin-bottom: 0;
      color: #666666;
      margin-bottom: 0;
      min-height: 0;
      width: 40%;
      text-align: center;
      height: 18px!important;
    }
  }
  &:not(:first-child) {
    border-top: 1px solid @lighterGray;
    padding-top: @spaced/2;
    margin-top: @spaced/2
  }
}

@cartWidthMin : 320px;
@cartWidthMax : 400px;

.mfp-cart {

  .mfp {

    &-close {
      color: @white;
      &r {
        z-index: 0;
      }
    }

    &-content {
      //padding: 0 @spaced/2;
    }

    &-container {

      background: @bgGray;
      right: 0;
      left: auto;
      padding: 0;
      transform: translateX(100%);
      transition: 300ms ease;
      color: @white;
      z-index: 1;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;

      @media @min {
        width: @cartWidthMin;
      }
      @media @tablet {
        width: @cartWidthMax;
      }

      .cart {
        &-form {
          margin: 0;
        }
        &-row {
          max-width: 100%;
        }
        &-title {
          color: @white;
          margin: 0;
          margin-bottom: 2px;
          line-height: 1.2;
          text-transform: uppercase;
          .font_size(28);
        }
      }

    }

  }

  &.mfp {
    &-bg {
      background: none;
    }
  }

}

.is-viewing--cart {
  overflow: hidden;
  height: 100%;

  #wrapper {
    @media @min {
      transform: translateX(-@cartWidthMin);
    }
    @media @tablet {
      transform: translateX(-@cartWidthMax);
    }
  }

  .mfp-cart {
    .mfp-container {
      transform: translateX(0%);
    }
  }
}