.collection {

  &-headline {
    p {
      .headerFont();
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__border {
      margin-bottom: @spaced*2;
    }
    &__middle {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: @blue;
      @media @min {
        .font_size(22);  
        line-height: 1.2;
      }
      @media @tablet {
        line-height: 1.4
      }
      @media @desktop {
        .font_size(36);  
      }
    }
    &__top, &__bottom {
      text-transform: uppercase;
      letter-spacing: 1px;
      .font_size(15);
      @media @min {
        color: @gray;
      }
      @media @desktop {
        color: @blue;
      }
    }
  }

  &-notification {
    .wrapper {
      padding: @spaced*.5;
      //border-radius: 3px;
      //margin-bottom: @spaced*2;
      color: @white;
      .byantReg();
      &:hover {
        color: @white;
      }
    }
  }

  &-filters {
    padding: 15px 0;
    border-bottom: 1px solid @lighterGray;
    text-align: center;
    &__title {
      .headerFont();
      color: @gray;
      display: inline-block;
      margin-right: 10px;
      @media @min {
        display: none;
      }
      @media @mobile {
        display: inline-block;
      }
    }
    &__select {
      margin-bottom: 0;
      border: 0;
      .headerFont();
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      width: auto;
      padding-right: 2.5em;
      border: 1px solid @lighterGray;
      background: url('icon--down.svg') center right .75em no-repeat;
      background-size: 10px auto;
      @media @min {
        margin: 0 5px;
      }
      @media @mobile {
        margin: 0 0;
        margin-right: 10px;
      }
    }
  }

  &-header {

    &__bg {
      @media @min {
        height: 200px;
      }
      @media @tablet {
        height: 500px;
      }
      @media @desktop {
        height: 600px
      }
      .fs-background {
        &-media {
          background-position: top center;
        }
      }
    }

    &__content {
      z-index: 9;
      position: relative;
      .byantReg();

      h1,h2,h3,h4,h5,h6 {
        display: block;
        color: inherit;
        .headerFont();
      }

      h1 {
        .font_size(32);
      }

      @media @min {
        line-height: 1.3;
        .font_size(17);
        background: @white;
        text-align: center;
        h1,h2,h3,h4,h5,h6,p { 
          //text-align: center;
        }
      }
      @media @tablet {
        line-height: 2;
        .font_size(20);
        background: transparent;
        text-align: initial!important;
        h1,h2,h3,h4,h5,h6,p { 
          //text-align: initial!important;
        }
      }

      &.default {
        @media @tablet {
          .center();
        }
      }

    }
  }
}