#header {

  &-main {

    transition: background 300ms ease;
    display: block;

    &--spacer {
      height: 51px;
    }

    &__inner {
      transition: background 500ms ease;
      border-bottom: 1px solid @white25;
    }

    .btn {
      &--icon {
        &.alt {
          display: none;
        }
      }
      &--nav {
        color: @white;
        .font_size(14);
        font-weight: 500;
        letter-spacing: 1px;
        &:not(.btn--cart) {
          &.fs-swap {
            &-active {
              background: @white;
              color: @blue;
            }
          }
        }
      }
    }

    &:hover, &.active, &.fs-swap-active, &.is-dark {
      
      #header-main__inner {
        //@media @mobile {
          background: @white;    
        //}
      }

      .btn--icon {
        display: none;
        &.alt {
          display: inline-block;
        }
      }
      
      .btn--nav {
        color: @blue;
      }
      #header__logo {
        background-image: url('mizzen-logo--blue.svg');
      }
    }

  }

  &__mobile {
    @media @min {
      display: block!important;
    }
    @media @mobile {
      display: none!important;
    }
    &-shop {
      display: none;
      padding: @spaced/2 0;
      border-top: 1px solid @bgGray;
      border-bottom: 1px solid @bgGray;
      &.fs-swap {
        &-active {
          display: block;
        }
      }
    }
    &-drop {
      background: fade(@white, 95%);
      display: none;
      .btn {
        @size: 40px;
        height: @size;
        line-height: @size;
      }
      &.fs-swap {
        &-active {
          @media @min {
            display: block;
          }
          @media @mobile {
            display: none;
          }
          //display: block;
        }
      }
      ul {
        display: none;
        padding: 0;
        margin: 0;
        &.fs-swap-active {
          display: block;
        }
        li {
           .headerFont();
          margin: 0;
          padding: 0;
          a {
            color: @textGray;
          }
        }
      }
      hr {
        display: none;
      }
      h4 {
        line-height: 2;
        padding: 0;
        margin-bottom: 0;
        .headerFont();
        .font_size(14);
        letter-spacing: 1px;

        a {
          display: block;
          color: @blue;
        }
      }
    }
  }

  &__logo {

    display: block;
    background-image: url('mizzen-logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    //transition: background-image 500ms ease;

    @media @min {
      background-size: 100% auto;  
    }

    @media @desktop {
      background-size: 65% auto;  
    }
    

    img {
      display: block;
      margin: auto;
      width: 80%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__bottom {
    height: 1px;
    background: @white50;
    margin-bottom: -1px;
  }

  &__dropdown {

    display: none;
    pointer-events: none;
    transition: opacity 200ms ease;
    text-align: center;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    @media @min {
      padding: @spaced 0;
    }
    @media @desktop {
      padding: @spaced*1.75 0;
    }

    &.fs-swap {
      &-active {
        background: rgba(255,255,255,.95);
        display: block;
        pointer-events: auto;
        //box-shadow: 0 @spaced/2 @spaced/2 rgba(0,0,0,.05);
      }
    }

    .section {
      //margin-bottom: @spaced/2;
      //margin-top: 0;
      
      margin-top: 0;
      vertical-align:top;

      @media @min {
        text-align: center;
      }
      @media @desktop {
        text-align: left;
        padding-right: @spaced*2;
        float: none;
        display: inline-block;
        padding-right: @spaced;
        width: auto;
      }

      &:last-child {
        margin-bottom: 0;
        padding-right: 0;
      }
    }

    h4 {
      .headerFont();
      padding: 0;
      line-height:1;
      margin: 0;
      @media @min {
        margin-bottom: @spaced*.5;
      }
      @media @desktop {
        margin-bottom: @spaced;  
      }
      
      font-weight: 400;
      letter-spacing: 1px;
      color: @blue;
      .font_size(14);
    }

    ul {
      padding: 0;
      margin: 0;
      li {
        margin: 0;
        margin-bottom: @spaced*.5;
        line-height: 1.3;
        .font_size(13);
        letter-spacing: 1px;
        list-style: none;
        text-transform: uppercase;
        .mainFont();
        -webkit-font-smoothing: antialiased;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: @textGray;
          &:hover {
            color: @blue;
          }
        }
      }
    }

    .header {
      &__item {
        cursor: pointer;
        img {
          transition: 400ms ease;
        }
        &:hover {
          img {
            transform: rotate(-2deg);
          }
        }
      }
    }

  }

}

.header {
  &-nav {
    &__menu {
      @media @tablet {
        text-align: left;
      }
      @media @desktop {
        text-align: center;
      }
    }
  }
}