.home {

  &-carousel {
    
    position: relative;

    .fs-carousel {

      &-pagination {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      &-page {
        background: @white;
      }

    }

  }

}