<div id="shipping-policy-modal" class="white-popup-block mfp-hide">

  <h2>International shipping policy</h2>

  <p>We charge a flat fee of $50 via DHL for international shipments. This is less than our shipping cost.</p>

  <p>Please be aware that any duties or taxes your country of residence charges are the responsibility of the purchaser/consumer.</p>

  <p>We have no control over these charges and required by law to list the purchase price and commodity type for import and export regulations.</p>

  <p>Unfortunately, we are not able to cover return shipping costs for international purchases, but we are confident you will love your product! Please let us know if you have any other questions or concerns.</p>
  
  <p><strong>*Please note, we do not ship to China*</strong></p>

  <p>Team Mizzen+Main</p>
  
  <p><a class="js-modal-dismiss" href="#">Ok - I understand</a></p>

</div>