<hr class="invisible">
<div class="fit-guide fs-grid">
  <div class="fs-row">
    <div class="fs-cell fs-lg-11 fs-md-6 fs-sm-3 fs-centered">
      <div class="hero hero--pants fit-guide__bg wallpaper bg--bgGray" data-background-options='{"source":"{{ 'pants.jpg' | asset_url }}"}'>
       
        <div class="fit-guide__desc waist">
          <div class="fs-sm-hide">
            <h4><span>1) Waist tru to size</span></h4>
            <p>Stick to your usual waist size</p>
          </div>
          <div class="fs-md-hide fs-lg-hide">
            <h4><span class="mobile">1<div class="gps_ring"></div></span></h4>
          </div>
        </div>

        <div class="fit-guide__desc trim">
          <div class="fs-sm-hide">
            <h4><span>2) Trim High</span></h4>
            <p>No baggy extra <br>fabric for a <br>sleeker look.</p>
          </div>
          <div class="fs-md-hide fs-lg-hide">
            <h4><span class="mobile">2<div class="gps_ring"></div></span></h4>
          </div>
        </div>

        <div class="fit-guide__desc hem">
          <div class="fs-sm-hide">
            <h4><span>3) Hem Unfinished</span></h4>
            <p>Hem is left unfinished <br>to you can achieve <br>your perfect length.</p>
          </div>
          <div class="fs-md-hide fs-lg-hide">
            <h4><span class="mobile">3<div class="gps_ring"></div></span></h4>
          </div>
        </div>

        <div class="fit-guide__desc rise right">
          <div class="fs-sm-hide">
            <h4><span class="right">4) Higher Rise</span></h4>
            <p>Reduced extra <br>fabric in the seat.</p>
          </div>
          <div class="fs-md-hide fs-lg-hide">
            <h4><span class="mobile right">4<div class="gps_ring"></div></span></h4>
          </div>
        </div>

        <div class="fit-guide__desc cut right">
          <div class="fs-sm-hide">
            <h4><span class="right">5) Tapered Cut</span></h4>
            <p>Slight taper from the <br>knee down for a <br>more tailored look.</p>
          </div>
          <div class="fs-md-hide fs-lg-hide">
            <h4><span class="mobile right">5<div class="gps_ring"></div></span></h4>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>

<div class="fit-guide__mobile fs-grid">
<div class="fs-row">
<div class="fs-cell fs-md-hide fs-lg-hide fs-sm-3">
<ul class="text-center">
<li>
  <h4><span>1) Waist tru to size</span></h4>
  <p>Stick to your usual waist size</p>
</li>
<li>
  <h4><span>2) Trim High</span></h4>
  <p>No baggy extra fabric for a sleeker look.</p>
</li>
<li>
  <h4><span>3) Hem Unfinished</span></h4>
  <p>Hem is left unfinished to you can achieve your perfect length.</p>
</li>
<li>
  <h4><span class="right">4) Higher Rise</span></h4>
  <p>Reduced extra fabric in the seat.</p>
</li>
<li>
  <h4><span class="right">5) Tapered Cut</span></h4>
  <p>Slight taper from the knee down for a more tailored look.</p>
</li>
</ul>
</div>
</div>
</div>

<hr class="invisible">

<div class="fit-grid fs-grid text-center">
  <div class="fs-row">
    <div class="fs-cell fs-lg-9 fs-md-5 fs-sm-3 fs-centered">

      <div class="fs-row">
        <div class="fs-cell fs-all-full fit-grid__row fit-grid__row--top">
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>&nbsp;</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>THIGH</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>PANT LEG OPENING</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell fit-grid__cell--last"><span>INSEAM (UNFINISHED)</span></div>
        </div>
      </div>

      <div class="fs-row">
        <div class="fs-cell fs-all-full fit-grid__row">
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>28</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>23 3/4"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>14"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell fit-grid__cell--last"><span>37"</span></div>
        </div>
      </div>

      <div class="fs-row">
        <div class="fs-cell fs-all-full fit-grid__row">
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>30</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>24 3/8"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>14 1/2"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell fit-grid__cell--last"><span>37"</span></div>
        </div>
      </div>

      <div class="fs-row">
        <div class="fs-cell fs-all-full fit-grid__row">
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>32</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>24 1/2"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>15"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell fit-grid__cell--last"><span>37"</span></div>
        </div>
      </div>

      <div class="fs-row">
        <div class="fs-cell fs-all-full fit-grid__row">
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>34</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>25 1/8"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>15 1/2"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell fit-grid__cell--last"><span>37"</span></div>
        </div>
      </div>

      <div class="fs-row">
        <div class="fs-cell fs-all-full fit-grid__row">
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>36</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>25 3/4"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>16"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell fit-grid__cell--last"><span>37"</span></div>
        </div>
      </div>

      <div class="fs-row">
        <div class="fs-cell fs-all-full fit-grid__row">
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>38</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>26 3/8"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell"><span>16 1/2"</span></div>
          <div class="fs-cell fs-all-fourth fs-contained fit-grid__cell fit-grid__cell--last"><span>37"</span></div>
        </div>
      </div>

    </div>
  </div>
</div>