{% layout 'wearegiants' %}

<div id="prod" class="fs-grid fs-grid-fluid">

  <!-- Product Info & Images -->
  <div class="fs-row">
    <div class="fs-cell fs-all-full bg--bgGray">
      <div id="prod__info" class="fs-cell fs-lg-half fs-md-half fs-sm-3 fs-contained fs-right"><div class="wrapper--extra">{% include 'product-info_wag' %}</div></div>
      <div id="prod__images" class="fs-cell fs-lg-half fs-md-half fs-sm-3 fs-contained bg--gray">{% include 'product-images_wag' %}</div>
    </div>
  </div>

  <hr class="invisible huge">

  <!-- Product Description -->
  <div class="fs-row">
    <div id="prod__desc" class="fs-cell fs-lg-4 fs-lg-push-2 fs-md-half fs-sm-3 "><h3 class="text-center color--blue">Description</h3>{{ product.description }}</div>
    <div id="prod__meta" class="fs-cell fs-lg-4 fs-md-half fs-sm-3"><h3 class="text-center color--blue">Material</h3></div>
  </div>

  <hr class="invisible huge">

  <!-- Performance Section -->
  <div id="prod__performance">
    <div class="fs-row">
      <div class="fs-cell fs-lg-11 fs-md-6 fs-sm-3 fs-centered">
        <div class="bg--bgGray">
          {% include 'performance' %}
        </div>
      </div>
    </div>
  </div>

  <!-- Lookbook Images -->
  <div id="prod__lookbook">
    <div class="fs-row">
      <div class="fs-cell fs-lg-11 fs-md-6 fs-sm-3 fs-centered">
        {% include 'product_lookbook' %}
      </div>
    </div>
  </div>

  <hr class="invisible huge">

  <div id="prod__related">
    <div class="fs-row">
      <div class="fs-cell fs-lg-11 fs-md-6 fs-sm-3 fs-centered">
        <h3 class="text-center color--blue">Related Items</h3>
        <div class="text-center">Coming soon...</div>
      </div>
    </div>
  </div>

  <hr class="invisible huge">

</div>