{% layout 'theme-wag' %}

<div id="fitguide">
  <div class="fit-guide fs-grid">
    <div class="fs-row">
      <div class="fs-cell fs-lg-11 fs-md-6 fs-sm-3 fs-centered">
        <div class="hero hero--pants fit-guide__bg wallpaper bg--bgGray" data-background-options='{"source":"{{ 'shirt.jpg' | asset_url }}"}'>
         
          <div class="fit-guide__desc slim shirt">
            <div class="fs-sm-hide">
              <h4><span>1) Slim Sleeve</span></h4>
              <p>No baggy extra <br>fabric for a <br>sleeker look. <br><br>Tailored armhole.</p>
            </div>
            <div class="fs-md-hide fs-lg-hide">
              <h4><span class="mobile">1<div class="gps_ring"></div></span></h4>
            </div>
          </div>

          <div class="fit-guide__desc length shirt">
            <div class="fs-sm-hide">
              <h4><span>2) Modern Length</span></h4>
              <p>Not too short. <br>Not too long.</p>
            </div>
            <div class="fs-md-hide fs-lg-hide">
              <h4><span class="mobile">2<div class="gps_ring"></div></span></h4>
            </div>
          </div>

          <div class="fit-guide__desc chest shirt right">
            <div class="fs-sm-hide">
              <h4><span class="right">3) Close Fit to Chest</span></h4>
              <p>Chest fits snug but <br>not constricting.</p>
            </div>
            <div class="fs-md-hide fs-lg-hide">
              <h4><span class="mobile right">3<div class="gps_ring"></div></span></h4>
            </div>
          </div>

          <div class="fit-guide__desc waiste shirt right">
            <div class="fs-sm-hide">
              <h4><span class="right">4) Tapered Waist</span></h4>
              <p>Shirt gives a natural <br>taper for a cleaner fit.</p>
            </div>
            <div class="fs-md-hide fs-lg-hide">
              <h4><span class="mobile right">4<div class="gps_ring"></div></span></h4>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>

  <div class="fit-guide__mobile fs-grid">
  <div class="fs-row">
  <div class="fs-cell fs-md-hide fs-lg-hide fs-sm-3">
  <ul class="text-center">
    <li>
      <h4><span>1) Slim Sleeve</span></h4>
      <p>No baggy extra fabric for a sleeker look. Tailored armhole.</p>
    </li>
    <li>
      <h4><span>2) Modern Length</span></h4>
      <p>Not too short. Not too long.</p>
    </li>
    <li>
      <h4><span>3) Close Fit to Chest</span></h4>
      <p>Chest fits snug but not constricting.</p>
    </li>
    <li>
      <h4><span class="right">4) Tapered Waist</span></h4>
      <p>Shirt gives a natural taper for a cleaner fit.</p>
    </li>
  </ul>
  </div>
  </div>
  </div>

  <hr class="invisible">

  <div class="fit-note fs-grid">
    <div class="fs-row">
      <div class="fs-cell fs-lg-9 fs-md-5 fs-sm-3 fs-centered">
        <p><h3>TRIM FIT</h3></p>
        <p><strong>* STANDARD SIZES -</strong> Add 2.5" to each side of the waist, chest, and hips</p>
        <p><strong>* TALL SIZES -</strong> Add 3" to shirt and sleeve length</p>
      </div>
    </div>
  </div>

  <div class="fit-grid fs-grid text-center">
    <div class="fs-row">
      <div class="fs-cell fs-lg-9 fs-md-5 fs-sm-3 fs-centered">

        <div class="fs-row">
          <div class="fs-cell fs-all-full fit-grid__row fit-grid__row--top">
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>&nbsp;</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>NECK</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>SLEEVE</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>WEIGHT</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell fit-grid__cell--last"><span>HEIGHT</span></div>
          </div>
        </div>
        <div class="fs-row">
          <div class="fs-cell fs-all-full fit-grid__row">
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>S</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>15-15.5"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>32.5-33"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>150 - 157 lbs</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell fit-grid__cell--last"><span>5'6" - 5'8"</span></div>
          </div>
        </div>
        <div class="fs-row">
          <div class="fs-cell fs-all-full fit-grid__row">
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>M</div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>16-16.5"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>33.5-34"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>180 - 200 lbs</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell fit-grid__cell--last"><span>5'8" - 5'10"</span></div>
          </div>
        </div>
        <div class="fs-row">
          <div class="fs-cell fs-all-full fit-grid__row">
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>L</div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>16.5-17"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>34.5-35"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>200 - 215 lbs</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell fit-grid__cell--last"><span>6'0" - 6'3"</span></div>
          </div>
        </div>
        <div class="fs-row">
          <div class="fs-cell fs-all-full fit-grid__row">
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>XL</div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>17-17.5"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>35.5-36"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>215lbs</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell fit-grid__cell--last"><span>6'3" - 6'5"</span></div>
          </div>
        </div>
        <div class="fs-row">
          <div class="fs-cell fs-all-full fit-grid__row">
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>XXL</div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>18-18.5"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>36-37"</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell"><span>250+ lbs</span></div>
            <div class="fs-cell fs-all-fifth fs-contained fit-grid__cell fit-grid__cell--last"><span>6'4" +</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>