<div class="product-images">
  <div class="fs-row">
    <div class="fs-cell fs-xl-12 fs-lg-12 fs-md-6 fs-sm-3">
      <div class="carousel" data-carousel-options='{"controls":false,"pagination":false}'>
        {% for image in product.images %}
        <div class="carousel__slide">
          <img class="img-responsive" src="{{ image | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}" />
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>