<footer id="footer">
  <div class="container">
    <div class="row">
      
      <div class="columns three nav">
        <nav>
          <h4>Help</h4>
          <ul class="list-vertical">
            
              <li><a href="/pages/faqs">Contact/FAQ</a></li>
            
              <li><a href="/apps/store-locator/">Find a Retailer</a></li>
            
              <li><a href="/pages/terms-of-service">Policy &amp; Terms</a></li>
            
              <li><a href="/apps/tracktor">Track Your Order</a></li>
            
              <li><a href="/products/gift-card">Gift Cards</a></li>
            
          </ul>
        </nav>
      </div>
      
      <div class="columns two nav">
        <nav>
          <h4>Company</h4>
          <ul class="list-vertical">
            
              <li><a href="/pages/about">About</a></li>
            
              <li><a href="/pages/press">Press</a></li>
            
              <li><a href="/blogs/main-scoop">Blog</a></li>
            
          </ul>
        </nav>
      </div>
      
      <div class="columns six social-links">
        <ul class="list-inline">
          
            <li><a class="facebook" target="_blank" href="http://facebook.com/MizzenAndMain"><i class="fa fa-facebook"></i></a></li>
          
          
            <li><a class="instagram" target="_blank" href="http://instagram.com/MizzenAndMain"><i class="fa fa-instagram"></i></a></li>
          
          
            <li><a class="twitter" target="_blank" href="http://twitter.com/MizzenAndMain"><i class="fa fa-twitter"></i></a></li>
          
          
          
        </ul>
      </div><!-- .columns.five -->
      
      <div class="columns five newsletter">
        <h4>Get the Main Scoop</h4>
          
          
        
        <form id="email_signup_footer" class="klaviyo_styling klaviyo_standard_embed_kgTeMG" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
          <input type="hidden" name="g" value="kgTeMG">
          <div class="klaviyo_field_group">
            <label for="k_id_email"></label>
            <input type="email" value="" name="email" id="k_id_email" placeholder="Your email please...">
          </div>
          <div class="klaviyo_messages">
            <div class="success_message" style="display:none;">Thanks for Subscribing!</div>
            <div class="error_message" style="display:none;"></div>
            </div>
          <div class="klaviyo_form_actions">
            <button type="submit" class="klaviyo_submit_button">Submit</button>
          </div>
        </form>
        <style type="text/css">
          .klaviyo_styling.klaviyo_standard_embed_qECXGE,
          .klaviyo_condensed_styling.klaviyo_standard_embed_qECXGE {
            font-family: inherit;
          }.klaviyo_styling.klaviyo_standard_embed_qECXGE label,
          .klaviyo_condensed_styling.klaviyo_standard_embed_qECXGE label {

          }.klaviyo_styling.klaviyo_standard_embed_qECXGE input[type=text],
          .klaviyo_styling.klaviyo_standard_embed_qECXGE input[type=email],
          .klaviyo_condensed_styling.klaviyo_standard_embed_qECXGE input[type=text],
          .klaviyo_condensed_styling.klaviyo_standard_embed_qECXGE input[type=email] {
            border-radius: undefined;
          }.klaviyo_styling.klaviyo_standard_embed_qECXGE .klaviyo_submit_button,
          .klaviyo_condensed_styling.klaviyo_standard_embed_qECXGE .klaviyo_submit_button {

            border-radius: undefined;
          }.klaviyo_styling.klaviyo_standard_embed_qECXGE .klaviyo_submit_button:hover,
          .klaviyo_condensed_styling.klaviyo_standard_embed_qECXGE .klaviyo_submit_button:hover {

          }
        </style>
        <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
        <script type="text/javascript">
            KlaviyoSubscribe.attachToForms('#email_signup_footer', {
            hide_form_on_success: true,
            custom_success_message: true
          });
        </script>
      </div><!-- .columns.newsletter -->
    </div><!-- .row -->
  </div><!-- .container -->
</footer>