<div id="header" class="header header--lg pinned pinned--top fs-grid color--white">
  <br>
  <div class="fs-row">
    <div class="fs-cell fs-lg-third fs-centered text-center">
      <a id="header__logo" class="btn btn--nav" href="#"><img src="mizzenmain-logo_white.png" class="img-responsive" /></a>
    </div>
    <div class="fs-cell fs-lg-fourth fs-sm-hide">
      <a class="btn btn--nav btn--first" href="#">Join Email List</a>
    </div>
    <div class="fs-cell fs-lg-half fs-sm-hide text-center">
      <a class="btn btn--nav swap" data-swap-target="#header__dropdown" href="#">Shop</a>
      <a class="btn btn--nav" href="#">Lookbooks</a>
      <a class="btn btn--nav" href="#">About Us</a>
      <a class="btn btn--nav" href="#">Blog</a>
    </div>
    <div class="fs-cell fs-lg-fourth text-right">
      <a class="btn btn--nav" href="#">Sign In</a>
      <a class="btn btn--nav btn--last swap btn--cart" data-swap-target=".cart-toggle" href="#">(0) Bag</a>
    </div>
    <div id="header__bottom" class="fs-cell fs-all-full"></div>
  </div>
  <div id="header__dropdown" class="header pinned bg--white">
    <div class="fs-row">
      <div class="fs-cell fs-all-full color--black">
        <hr class="invisible compact">
        <div class="fs-row">
          <div class="header__item fs-cell fs-lg-2 fs-md-fifth fs-sm-fourth text-center color--blue"><img src="https://dl.dropboxusercontent.com/u/2280055/Mizzen/shirt.png" class="img-responsive" /><span class="">Leeward <br>Collection</span></div>
          <div class="header__item fs-cell fs-lg-2 fs-md-fifth fs-sm-fourth text-center color--blue"><img src="https://dl.dropboxusercontent.com/u/2280055/Mizzen/shirt.png" class="img-responsive" /><span class="">Leeward <br>Collection</span></div>
          <div class="header__item fs-cell fs-lg-2 fs-md-fifth fs-sm-fourth text-center color--blue"><img src="https://dl.dropboxusercontent.com/u/2280055/Mizzen/shirt.png" class="img-responsive" /><span class="">Leeward <br>Collection</span></div>
          <div class="header__item fs-cell fs-lg-2 fs-md-fifth fs-sm-fourth text-center color--blue"><img src="https://dl.dropboxusercontent.com/u/2280055/Mizzen/shirt.png" class="img-responsive" /><span class="">Leeward <br>Collection</span></div>
          <div class="header__item fs-cell fs-lg-2 fs-md-fifth fs-sm-fourth text-center color--blue"><img src="https://dl.dropboxusercontent.com/u/2280055/Mizzen/shirt.png" class="img-responsive" /><span class="">Leeward <br>Collection</span></div>
          <div class="header__item fs-cell fs-lg-2 fs-md-fifth fs-sm-fourth text-center color--blue"><img src="https://dl.dropboxusercontent.com/u/2280055/Mizzen/shirt.png" class="img-responsive" /><span class="">Leeward <br>Collection</span></div>
        </div>
        <hr class="divider compact">
        <div class="text-center">
          <h1 class="emphasized accent nomargin">Discover your perfect fit.</h1>
          <a href="#" class="color--blue">Explore our fit guide</a>
        </div>
        <hr class="invisible compact">
      </div>
    </div>
  </div>
</div>