.header {
  
  &__logo {}
  
  &__nav {}
  
  &__title {}
  
  &__logo {}
  
  &--sm {
    padding: @spaced*.5 0;
  }
  
  &--md {
    padding: @spaced*.75 0;
  }
  
  &--lg {
  	padding: @spaced 0;
  }
  
}
