.landing-page {
	.landing-container {
		text-align: center;
		h1 {
			display: block;
			font-weight: 600;
			font-family: 'Conv_Bryant';
		}
		h4 {
			font-weight: 700;
			font-family: 'Conv_Bryant';
		}
		a {
			text-decoration: underline;
			color: #000;
		}
	}
}