@font-face {
  font-family: "Bryant";
  src: url('/mizzenmain-95451137/assets/bryant-medium-webfont.eot');
  src: url('/mizzenmain-95451137/assets/bryant-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/mizzenmain-95451137/assets/bryant-medium-webfont.woff') format('woff'),
       url('/mizzenmain-95451137/assets/bryant-medium-webfont.ttf')  format('truetype'),
       url('/mizzenmain-95451137/assets/bryant-medium-webfont.svg#SSGizmo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Archer";
  src: url('/mizzenmain-95451137/assets/Archer-XLightItal-Pro.eot');
  src: url('/mizzenmain-95451137/assets/Archer-XLightItal-Pro.eot?#iefix') format('embedded-opentype'),
       url('/mizzenmain-95451137/assets/Archer-XLightItal-Pro.woff') format('woff'),
       url('/mizzenmain-95451137/assets/Archer-XLightItal-Pro.ttf')  format('truetype'),
       url('/mizzenmain-95451137/assets/Archer-XLightItal-Pro.svg#SSGizmo') format('svg');
  font-weight: normal;
  font-style: normal;
}